<section class="content-box-large">
  <div class="panel-heading">
    <div class="row">
      <div class="col-md-6">
        <button class="btn btn-primary" ui-sref="members.detail({ id: 0 })">
          <i class="glyphicon glyphicon-plus"></i>  Añadir
        </button>
      </div>
      <div class="col-md-6">
      </div>
    </div>
  </div>
  <div class="panel-body">
    <members-table status="'inactive'" members="mInactiveCtrl.members" activate="mInactiveCtrl.activate(index, member)"></members-table>
  </div>
</section>
