body {
  -webkit-font-smoothing: antialiased;
  line-height: 32px;
  font-size: 20px;
  color: #454054;
  font-weight: 300;
}
section,
header,
footer,
main,
article,
nav,
aside {
  position: relative;
}
a {
  outline: none !important;
  text-decoration: none !important;
  color: #f6a03a;
  -webkit-transition: all 225ms ease;
  -moz-transition: all 225ms ease;
  transition: all 225ms ease;
}
aa:hover,
aa:focus {
  color: #ffffff;
}
p {
  margin-bottom: 18px;
}
h1,
.h1 {
  font-size: 50px;
  text-align: center;
  font-weight: 300;
}
