<h1 class="page-header">Dashboard</h1>

<div layout="row">
  <div flex="33" layout-padding>
    <div layout-padding style="height: 200px;background-color: #EC407A;color: #fff;text-align: center;">
      <h3>Numero de socias</h3>
      <span style="font-size: 72px"> {{count}} </span>
    </div>
  </div>
  <div flex="33" layout-padding>
    <div layout-padding style="height: 200px;background-color: #26A69A;color: #fff;text-align: center;">
      <h3>Pendientes de pago</h3>
      <span style="font-size: 72px"> {{countPending}} </span>
    </div>
  </div>
  <div flex="33" layout-padding>
    <div layout-padding style="height: 200px;background-color: #5C6BC0;color: #fff;text-align: center;">
      <h3>Numero de socias por sección</h3>
      <div layout="row">
        <span style="font-size:24px;margin-right:10px">Basilea {{countBS}}</span>
        <span style="font-size:24px;margin-right:10px">Berna {{countBE}}</span>
        <span style="font-size:24px;margin-right:10px">Ginebra {{countGE}}</span>
      </div>
      <div layout="row">
        <span flex style="font-size:24px;margin-right:10px">Lausana {{countLS}}</span>
        <span flex style="font-size:24px;margin-right:10px">Zurich {{countZH}}</span>
      </div>
    </div>
  </div>
</div>
