<form novalidate="" ng-submit="member._id ? update() : save()" class="md-inline-form">
  <md-content class="member">
    <md-tabs md-dynamic-height md-border-bottom>
      <!-- PERFIL -->
      <md-tab label="Perfil">
        <div layout layout-sm="column">
          <md-input-container flex>
            <label>Nombre</label>
            <input ng-model="member.name">
          </md-input-container>
          <md-input-container flex>
            <label>Apellidos</label>
            <input ng-model="member.surnames">
          </md-input-container>
          <md-input-container flex>
            <label>Email</label>
            <input ng-model="member.email">
          </md-input-container>
          <md-input-container flex>
            <label>Teléfono</label>
            <input ng-model="member.phone" required>
          </md-input-container>
        </div>
        <div layout layout-sm="column">
          <c-md-datepicker ng-model="member.birthday" label="Fecha nacimiento" iclass="grey-600"
            separator="." save="Guardar" cancel="Cancelar"></c-md-datepicker>
          <md-input-container flex>
            <label>Nacionalidad</label>
            <md-select ng-model="member.nationality">
              <md-option ng-repeat="nationality in nationalities" value="{{nationality.code}}">
                {{nationality.description}}
              </md-option>
            </md-select>
          </md-input-container>
          <c-md-datepicker ng-model="member.inSwizertlandSince" label="En Suiza desde" iclass="grey-600"
            separator="." save="Guardar" cancel="Cancelar"></c-md-datepicker>
        </div>
        <div layout layout-sm="column">
          <md-input-container flex>
            <label>Profesión</label>
            <input ng-model="member.job.title">
          </md-input-container>
          <md-input-container flex>
            <label>Empresa</label>
            <input ng-model="member.job.company">
          </md-input-container>
        </div>
        <div layout layout-sm="column">
          <c-md-datepicker ng-show="member.startDate" label="Fecha de alta" iclass="grey-600" ng-class="{disabled: true}"
            save="Save" cancel="Cancel" separator="." ng-model="member.startDate"></c-md-datepicker>
          <c-md-datepicker ng-show="member.endDate" label="Fecha de baja" iclass="grey-600" save="Save" cancel="Cancel"
            ng-model="member.endDate"></c-md-datepicker>
        </div>
      </md-tab>

     <!-- DIRECCION -->
      <md-tab label="Dirección">
        <div layout layout-sm="column">
          <md-input-container flex>
            <label>Calle</label>
            <input ng-model="member.address.street">
          </md-input-container>
        </div>

        <div layout layout-sm="column">
          <md-input-container flex>
            <label>PLZ</label>
            <input ng-model="member.address.plz" required>
          </md-input-container>
          <md-input-container flex>
            <label>Ciudad</label>
            <input ng-model="member.address.city">
          </md-input-container>
          <md-input-container flex>
            <label>Canton</label>
            <md-select ng-model="member.address.canton">
              <md-option ng-repeat="canton in cantons" value="{{canton.code}}">
                {{canton.description}}
              </md-option>
            </md-select>
          </md-input-container>
        </div>
      </md-tab>

     <!-- ASOCIACION -->
      <md-tab label="Asociacion">
        <div layout layout-sm="column">
          <md-input-container flex>
            <label>Motivacion para formar parte de la red</label>
            <textarea ng-model="member.ames.motivation" columns="1" md-maxlength="150"></textarea>
          </md-input-container>
        </div>
        <div layout layout-sm="column">
          <md-input-container flex>
            <label>Que estas dispuesta a aportar</label>
            <textarea ng-model="member.ames.contribution" columns="1" md-maxlength="150"></textarea>
          </md-input-container>
        </div>
        <div layout layout-sm="column">
          <md-input-container flex>
            <label>Organizaciones de las que tambien formas parte</label>
            <textarea ng-model="member.ames.associations" columns="1" md-maxlength="150"></textarea>
          </md-input-container>
        </div>
        <div layout layout-sm="column">
          <md-input-container flex>
            <label>Como supiste de la asociacion</label>
            <md-select ng-model="member.ames.how">
              <md-option ng-repeat="how in memberHows" value="{{how.code}}">
                {{how.description}}
              </md-option>
            </md-select>
          </md-input-container>
          <md-input-container flex>
            <label>Sección</label>
            <md-select ng-model="member.ames.section">
              <md-option ng-repeat="section in sections" value="{{section.code}}">
                {{section.description}}
              </md-option>
            </md-select>
          </md-input-container>
          <md-input-container flex>
            <label>Año cuota pago</label>
            <input ng-model="member.ames.quoteYear" required>
          </md-input-container>
         </div>
      </md-tab>

     <!-- FORMACION -->
      <md-tab label="Formación">
        <div layout layout-sm="column">
          <md-input-container flex>
            <label>Estudios</label>
            <md-select ng-model="member.education.level">
              <md-option ng-repeat="level in educationLevels" value="{{level.code}}">
                {{level.description}}
              </md-option>
            </md-select>
          </md-input-container>
          <md-input-container flex>
            <label>Titulación</label>
            <input ng-model="member.education.degree">
          </md-input-container>
        </div>
        <h3>Idiomas</h3>
        <div layout layout-sm="column">
          <c-md-language label="Alemán" ng-model="member.education.languages.german"></c-md-language>
          <c-md-language label="Suizo" ng-model="member.education.languages.swiss"></c-md-language>
          <c-md-language label="Francés" ng-model="member.education.languages.french"></c-md-language>
          <c-md-language label="Italiano" ng-model="member.education.languages.italian"></c-md-language>
          <c-md-language label="Inglés" ng-model="member.education.languages.english"></c-md-language>
          <md-input-container flex>
            <label>Otros</label>
            <textarea ng-model="member.education.languages.others" columns="1" md-maxlength="150">
            </textarea>
          </md-input-container>
          </div>
        </div>
      </md-tab>
      <!-- OTROS DATOS -->
      <md-tab label="Otros datos">
        <md-content class="md-padding">
          <div layout layout-sm="column">
            <md-input-container flex>
              <label>Estado civil</label>
              <md-select ng-model="member.maritalStatus">
                <md-option ng-repeat="maritalState in maritalStatus" value="{{maritalState.code}}">
                  {{maritalState.description}}
                </md-option>
              </md-select>
            </md-input-container>
            <md-input-container flex>
              <label>N° hijos</label>
              <input ng-model="member.childrenNr">
            </md-input-container>
          </div>
          <div layout layout-sm="column">
          </div>

          <div layout layout-sm="column">
            <md-input-container flex>
              <label>Aficiones</label>
              <textarea ng-model="member.hobbies" columns="1" md-maxlength="150"></textarea>
            </md-input-container>
          </div>
          <div layout layout-sm="column">
            <md-input-container flex>
              <md-checkbox md-no-ink ng-model="member.facebook.access" class="md-primary">
                ¿Quieres formar parte de nuestro grupo en facebook?
              </md-checkbox>
            </md-input-container>
            <md-input-container flex>
              <label>Facebook</label>
              <input ng-model="member.facebook.user">
            </md-input-container>
          </div>
        </md-content>
      </md-tab>
    </md-tabs>
  </md-content>
  <md-content class="layout-row flex" layout-align="end center">
    <md-button type="submit" class="md-raised md-primary">Guardar</md-button>
    <md-button ng-click="remove()" class="md-raised md-warn">Eliminar</md-button>
  </md-content>

</form>
